button.create {
  background-color: rgb(0, 162, 255);
  width: 100%;
  border: none;
  position: absolute;
  bottom: 0;
  height: 64px;
  color: white;
  font-size: 48px;
  font-weight: 400;
  cursor: pointer;
}
