h1 {
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 48px 48px 12px 48px;
  background: linear-gradient(45deg, white, #006eff, #f09322, #ff8c00, white);
  -webkit-background-clip: text; /* Clip the text to the background gradient */
  color: transparent; /* Set text color to transparent to reveal the background gradient */
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

#root {
  background: linear-gradient(60deg, #86cce2 0%, #ffddb3 100%);
  min-height: 100vh;
  position: relative;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
}
